<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conscience.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Абитуриент ННГАСУ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".How_To_Activity" />
        <activity android:name=".WhereActivity" />
        <activity android:name=".BachelorActivity" />
        <activity
            android:name=".RangeFormActivity"
            android:launchMode="singleTop" />
        <activity android:name=".WebActivity" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AboutAppActivity" />
        <activity android:name=".ieupActivity" />
        <activity android:name=".IsfActivity" />
        <activity android:name=".miepmActivity" />
        <activity android:name=".otfActivity" />
        <activity android:name=".faidActivity" />
        <activity android:name=".fiesisActivity" />
        <activity android:name=".podgActivity" />
        <activity android:name=".profsActivity" />
        <activity android:name=".aboutUsActivity" />
        <activity android:name=".studsActivity" />
        <activity android:name=".rulesActivity" />
        <activity android:name=".EGEMinActivity" />
        <activity android:name=".entriesActivity" />
        <activity android:name=".docsActivity"></activity>
    </application>

</manifest>